/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(163, 194, 235);
}

.link {
  padding: 10px;
  margin: 10px;
  background-color: rgb(254, 243, 199);
  width: 33%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 250px;
}
